/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.curso {
    margin-bottom: 20px;
}

.curso h2 {
    margin-bottom: 10px;
}

.curso p {
    margin-bottom: 15px;
}

.curso a {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.curso a:hover {
    background-color: #555;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
